/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.TD{
    text-align: right;
}
.searchResultsView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }

.searchResultsView span{
    width: 120px;
    text-align: center;
}
.searchResultsView span img{
    height: 100;
    width: 100px;
    align-items: center;
}

.menuButton{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0 20px 0;
}

.menuButton button{
    margin-left: 10%;
    width:120px;
    height:30px;
    text-align: center;
}
.detailsView{
    display:inline;
    align-items: center;
    padding: 60px 40px;
}
.detailsView h1{
    text-align: left;
}

.imgAndPrice{
    display: flex;
    min-height: min-content;
    height: 320px;
}

.imgAndPrice img{
    height:300px;
    width: 430px;
    margin: 10px 5px;
}

.textDetails{
    border-style: dashed;
    margin: 30px 0px;
    padding: 10px 20px;
    height:fit-content
}
